@charset "UTF-8";

.mask-group-icon {
  position: absolute;
  top: 2383px;
  left: -6px;
  width: 1052px;
  height: 578px;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: 13.34%;
  left: 47.63%;
  font-size: 20px;
  font-weight: 500;
  color: #261f88;
  text-align: center;
}
.div2 {
  position: absolute;
  top: 28.59%;
  left: 12.5%;
  font-size: 20px;
  font-weight: 500;
  color: #261f88;
  text-align: center;
}
.mask-group-icon1 {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 1600px;
  height: 600px;
  object-fit: cover;
  background-image: url(./public/images/adobe-stock-997883992-preview-2.png);
}
.products {
  position: absolute;
  top: 12.24%;
  left: 40.06%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
  color: #333;
  text-align: center;
}
.best-partner-of {
  margin: 0;
}
.best-partner-of-container {
  position: absolute;
  top: 4.67%;
  left: 30.06%;
  font-size: 60px;
  font-weight: 600;
  font-family: Roboto;
  text-align: center;
}
.service {
  position: absolute;
  top: 27.49%;
  left: 12.38%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
  color: #333;
}
.b {
  position: absolute;
  top: 7.1%;
  left: 36.75%;
  font-size: 31px;
  letter-spacing: 0.05em;
}
.mask-group-icon2 {
  position: absolute;
  top: 908px;
  left: 0px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.child {
  position: absolute;
  top: 908px;
  left: 395px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.mask-group-icon3 {
  position: absolute;
  top: 908px;
  left: 401px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.item {
  position: absolute;
  top: 908px;
  left: 797px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.b1 {
  position: absolute;
  top: 16.39%;
  left: 27.81%;
  font-size: 28px;
  text-align: center;
}
.b2 {
  position: absolute;
  top: 16.39%;
  left: 10.63%;
  font-size: 28px;
  text-align: center;
}
.inner {
  position: absolute;
  top: 709px;
  left: 700px;
  background-color: #261f88;
  width: 54px;
  height: 5px;
}
.rectangle-div {
  position: absolute;
  top: 709px;
  left: 775px;
  background-color: #ccc;
  width: 54px;
  height: 5px;
}
.child1 {
  position: absolute;
  top: 709px;
  left: 850px;
  background-color: #ccc;
  width: 54px;
  height: 5px;
}
.mask-group-icon4 {
  position: absolute;
  top: 908px;
  left: 802px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.child2 {
  position: absolute;
  top: 908px;
  left: 1198px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.b3 {
  position: absolute;
  top: 16.39%;
  left: 57.25%;
  font-size: 28px;
  text-align: center;
}
.mask-group-icon5 {
  position: absolute;
  top: 908px;
  left: 1204px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.child3 {
  position: absolute;
  top: 908px;
  left: 1600px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.b4 {
  position: absolute;
  top: 16.39%;
  left: 79.63%;
  font-size: 28px;
  text-align: center;
}
.mask-group-icon6 {
  position: absolute;
  top: 1211px;
  left: 0px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.child4 {
  position: absolute;
  top: 1211px;
  left: 395px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.b5 {
  position: absolute;
  top: 21.16%;
  left: 8%;
  font-size: 28px;
  text-align: center;
}
.mask-group-icon7 {
  position: absolute;
  top: 1211px;
  left: 401px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.child5 {
  position: absolute;
  top: 1211px;
  left: 797px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.b6 {
  position: absolute;
  top: 21.16%;
  left: 28.75%;
  font-size: 28px;
  text-align: center;
}
.mask-group-icon8 {
  position: absolute;
  top: 1211px;
  left: 802px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.child6 {
  position: absolute;
  top: 1211px;
  left: 1198px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.b7 {
  position: absolute;
  top: 21.16%;
  left: 57.31%;
  font-size: 28px;
  text-align: center;
}
.mask-group-icon9 {
  position: absolute;
  top: 1211px;
  left: 1204px;
  width: 396px;
  height: 298px;
  object-fit: cover;
}
.child7 {
  position: absolute;
  top: 1211px;
  left: 1600px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 396px;
  height: 298px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.b8 {
  position: absolute;
  top: 21.16%;
  left: 80.69%;
  font-size: 28px;
  text-align: center;
}
.div3 {
  position: absolute;
  top: 29.56%;
  left: 12.5%;
  font-size: 28px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #261f88;
}
.div4 {
  position: absolute;
  width: 35.63%;
  top: 30.35%;
  left: 12.5%;
  line-height: 30px;
  font-weight: 500;
  color: #333;
  display: inline-block;
}
.mask-group-icon10 {
  position: absolute;
  top: 1710px;
  left: 744px;
  width: 856.5px;
  height: 547px;
  object-fit: cover;
}
.rectangle-icon {
  position: absolute;
  top: 2514px;
  left: 548px;
  width: 1052px;
  height: 578px;
}
.div5 {
  position: absolute;
  top: 42.09%;
  left: 51.81%;
  font-size: 20px;
  font-weight: 500;
}
.download {
  position: absolute;
  top: 40.98%;
  left: 51.81%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
}
.div6 {
  position: absolute;
  width: 35.63%;
  top: 43.05%;
  left: 51.81%;
  line-height: 30px;
  font-weight: 500;
  font-family: "Zen Kaku Gothic New";
  display: inline-block;
}
.component-7-child {
  position: absolute;
  height: 50.82%;
  width: 2%;
  top: 0%;
  right: 26.8%;
  bottom: 49.18%;
  left: 71.2%;
  background-color: #261f88;
}
.image-1-icon {
  position: absolute;
  height: 90.16%;
  width: 24.42%;
  top: 3.28%;
  right: 75.58%;
  bottom: 6.56%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div7 {
  position: absolute;
  top: 8.2%;
  left: 48.65%;
  font-weight: 500;
}
.div8 {
  position: absolute;
  top: 62.3%;
  left: 55.48%;
  font-weight: 500;
}
.div9 {
  position: absolute;
  top: 8.2%;
  left: 59.21%;
  font-weight: 500;
  color: #ccc;
}
.div10 {
  position: absolute;
  top: 62.3%;
  left: 63.34%;
  font-weight: 500;
}
.div11 {
  position: absolute;
  top: 62.3%;
  left: 69.14%;
  font-weight: 500;
}
.div12 {
  position: absolute;
  top: 62.3%;
  left: 46.59%;
  font-weight: 500;
}
.component-7-item {
  position: absolute;
  height: 52.46%;
  width: 14.63%;
  top: 0%;
  right: 26.8%;
  bottom: 47.54%;
  left: 58.57%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.vector-icon {
  position: absolute;
  height: 24.59%;
  width: 0.97%;
  top: 14.75%;
  right: 42.91%;
  bottom: 60.66%;
  left: 56.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  position: absolute;
  height: 29.51%;
  width: 1.16%;
  top: 11.48%;
  right: 27.26%;
  bottom: 59.02%;
  left: 71.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-7-inner {
  position: absolute;
  height: 85.25%;
  width: 11.79%;
  top: 4.92%;
  right: 12.89%;
  bottom: 9.84%;
  left: 75.32%;
  border-radius: 100px;
  background-color: #000;
}
.component-7-child1 {
  position: absolute;
  height: 85.25%;
  width: 11.79%;
  top: 4.92%;
  right: 0%;
  bottom: 9.84%;
  left: 88.21%;
  border-radius: 100px;
  background-color: #261f88;
}
.b9 {
  position: absolute;
  top: 27.87%;
  left: 77.9%;
  color: #fff;
  text-align: center;
}
.b10 {
  position: absolute;
  top: 27.87%;
  left: 91.56%;
  color: #fff;
  text-align: center;
}
.file-download-icon-1 {
  position: absolute;
  height: 32.79%;
  width: 0.97%;
  top: 31.15%;
  right: 22.68%;
  bottom: 36.07%;
  left: 76.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mail-icon-1 {
  position: absolute;
  height: 27.87%;
  width: 1.42%;
  top: 34.43%;
  right: 9.15%;
  bottom: 37.7%;
  left: 89.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-7 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1552px;
  height: 61px;
  color: #333;
}
.child8 {
  position: absolute;
  top: 1546px;
  left: 659px;
  border-radius: 100px;
  background-color: #261f88;
  width: 270px;
  height: 60px;
}
.b11 {
  position: absolute;
  top: 24.61%;
  left: 46%;
}
.vector-icon2 {
  position: absolute;
  height: 0.2%;
  width: 0.5%;
  top: 24.72%;
  right: 43.56%;
  bottom: 75.08%;
  left: 55.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child9 {
  position: absolute;
  top: 2172px;
  left: 200px;
  border-radius: 100px;
  background-color: #261f88;
  width: 270px;
  height: 60px;
}
.b12 {
  position: absolute;
  top: 34.46%;
  left: 17.81%;
}
.vector-icon3 {
  position: absolute;
  height: 0.2%;
  width: 0.5%;
  top: 34.53%;
  right: 71.88%;
  bottom: 65.26%;
  left: 27.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child10 {
  position: absolute;
  top: 2918px;
  left: 829px;
  border-radius: 100px;
  background-color: #fff;
  width: 312px;
  height: 60px;
}
.b13 {
  position: absolute;
  top: 46.19%;
  left: 55.25%;
  color: #333;
}
.group-icon {
  position: absolute;
  height: 0.2%;
  width: 0.5%;
  top: 46.29%;
  right: 29.94%;
  bottom: 53.51%;
  left: 69.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon {
  position: absolute;
  top: 2442px;
  left: 420px;
  width: 226px;
  height: 322px;
  object-fit: cover;
}
.icon1 {
  position: absolute;
  top: 2507px;
  left: 246px;
  width: 226px;
  height: 320px;
  object-fit: cover;
}
.icon2 {
  position: absolute;
  top: 2570px;
  left: 77px;
  width: 226px;
  height: 321px;
  object-fit: cover;
}
.child11 {
  position: absolute;
  top: 3685px;
  left: -1px;
  background-color: #f5f5f5;
  width: 1600px;
  height: 560px;
}
.div13 {
  position: absolute;
  top: 60.46%;
  left: 12.44%;
  font-size: 20px;
  font-weight: 500;
  color: #261f88;
  text-align: center;
}
.news {
  position: absolute;
  top: 59.36%;
  left: 12.31%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
  color: #333;
}
.div14 {
  position: absolute;
  top: 59.47%;
  left: 25.44%;
  line-height: 26px;
  font-weight: 600;
  color: #261f88;
}
.div15 {
  position: absolute;
  top: 61.39%;
  left: 25.44%;
  line-height: 26px;
  font-weight: 600;
  color: #261f88;
}
.div16 {
  position: absolute;
  top: 60.46%;
  left: 25.44%;
  line-height: 26px;
  font-weight: 600;
  color: #261f88;
}
.div17 {
  position: absolute;
  top: 62.38%;
  left: 25.44%;
  line-height: 26px;
  font-weight: 600;
  color: #261f88;
}
.div18 {
  position: absolute;
  top: 63.33%;
  left: 25.44%;
  line-height: 26px;
  font-weight: 600;
  color: #261f88;
}
.div19 {
  position: absolute;
  top: 59.47%;
  left: 41.81%;
  line-height: 26px;
  font-weight: 500;
  color: #333;
}
.div20 {
  position: absolute;
  top: 61.39%;
  left: 38%;
  line-height: 26px;
  font-weight: 500;
  color: #333;
}
.div21 {
  position: absolute;
  top: 60.46%;
  left: 41.81%;
  line-height: 26px;
  font-weight: 500;
  color: #333;
}
.div22 {
  position: absolute;
  top: 62.38%;
  left: 38%;
  line-height: 26px;
  font-weight: 500;
  color: #333;
}
.div23 {
  position: absolute;
  top: 63.33%;
  left: 38%;
  line-height: 26px;
  font-weight: 500;
  color: #333;
}
.child12 {
  position: absolute;
  top: 3781px;
  left: 503px;
  background-color: #000;
  width: 88px;
  height: 25px;
}
.child13 {
  position: absolute;
  top: 3903px;
  left: 503px;
  background-color: #000;
  width: 88px;
  height: 25px;
}
.child14 {
  position: absolute;
  top: 3844px;
  left: 503px;
  background-color: #000;
  width: 88px;
  height: 25px;
}
.child15 {
  position: absolute;
  top: 3966px;
  left: 503px;
  background-color: #000;
  width: 88px;
  height: 25px;
}
.child16 {
  position: absolute;
  top: 4026px;
  left: 503px;
  background-color: #000;
  width: 88px;
  height: 25px;
}
.child17 {
  position: absolute;
  top: 3781px;
  left: 608px;
  background-color: #261f88;
  width: 49px;
  height: 25px;
}
.child18 {
  position: absolute;
  top: 3844px;
  left: 608px;
  background-color: #261f88;
  width: 49px;
  height: 25px;
}
.div24 {
  position: absolute;
  top: 59.47%;
  left: 32.44%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}
.ir {
  position: absolute;
  top: 61.39%;
  left: 33.75%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}
.div25 {
  position: absolute;
  top: 60.46%;
  left: 32.44%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}
.div26 {
  position: absolute;
  top: 62.38%;
  left: 32.44%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}
.div27 {
  position: absolute;
  top: 63.33%;
  left: 32.44%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}
.new {
  position: absolute;
  top: 59.47%;
  left: 38.5%;
  font-size: 14px;
  line-height: 26px;
}
.new1 {
  position: absolute;
  top: 60.46%;
  left: 38.5%;
  font-size: 14px;
  line-height: 26px;
}
.child19 {
  position: absolute;
  top: 3824px;
  left: 399px;
  background-color: #d9d9d9;
  width: 1000px;
  height: 1px;
}
.child20 {
  position: absolute;
  top: 3946px;
  left: 399px;
  background-color: #d9d9d9;
  width: 1000px;
  height: 1px;
}
.child21 {
  position: absolute;
  top: 3887px;
  left: 399px;
  background-color: #d9d9d9;
  width: 1000px;
  height: 1px;
}
.child22 {
  position: absolute;
  top: 4009px;
  left: 399px;
  background-color: #d9d9d9;
  width: 1000px;
  height: 1px;
}
.child23 {
  position: absolute;
  top: 4069px;
  left: 399px;
  background-color: #d9d9d9;
  width: 1000px;
  height: 1px;
}
.child24 {
  position: absolute;
  top: 4123px;
  left: 664px;
  border-radius: 100px;
  background-color: #261f88;
  width: 270px;
  height: 60px;
}
.child25 {
  position: absolute;
  top: 3521px;
  left: 664px;
  border-radius: 100px;
  background-color: #261f88;
  width: 270px;
  height: 60px;
}
.b14 {
  position: absolute;
  top: 65.14%;
  left: 46.44%;
}
.vector-icon4 {
  position: absolute;
  height: 0.2%;
  width: 0.5%;
  top: 65.23%;
  right: 42.88%;
  bottom: 34.57%;
  left: 56.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  position: absolute;
  height: 0.2%;
  width: 0.5%;
  top: 55.76%;
  right: 42.88%;
  bottom: 44.04%;
  left: 56.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon11 {
  position: absolute;
  top: 4885px;
  left: 1px;
  width: 1600px;
  height: 598px;
  object-fit: cover;
}
.child26 {
  position: absolute;
  top: 4885px;
  left: 1px;
  background-color: rgba(38, 31, 136, 0.7);
  width: 1600px;
  height: 598px;
}
.div28 {
  position: absolute;
  top: 69.7%;
  left: 12.56%;
  font-size: 20px;
  font-weight: 500;
  color: #261f88;
}
.company {
  position: absolute;
  top: 68.6%;
  left: 12.44%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
  color: #333;
}
.child27 {
  position: absolute;
  top: 4681px;
  left: 201px;
  border-radius: 100px;
  background-color: #261f88;
  width: 270px;
  height: 60px;
}
.b15 {
  position: absolute;
  top: 73.91%;
  left: 17.88%;
}
.vector-icon6 {
  position: absolute;
  height: 0.2%;
  width: 0.5%;
  top: 74.01%;
  right: 71.81%;
  bottom: 25.79%;
  left: 27.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div29 {
  position: absolute;
  top: 70.44%;
  left: 12.56%;
  font-size: 28px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #261f88;
}
.div30 {
  position: absolute;
  width: 35.63%;
  top: 71.32%;
  left: 12.56%;
  line-height: 30px;
  font-weight: 500;
  color: #333;
  display: inline-block;
}
.mask-group-icon12 {
  position: absolute;
  top: 4989px;
  left: 1px;
  width: 769px;
  height: 390.5px;
  object-fit: cover;
}
.div31 {
  position: absolute;
  top: 79.7%;
  left: 54%;
  font-size: 20px;
  font-weight: 500;
}
.recruit {
  position: absolute;
  top: 78.6%;
  left: 53.88%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
}
.div32 {
  position: absolute;
  width: 31.63%;
  top: 80.66%;
  left: 54%;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
}
.mask-group-icon13 {
  position: absolute;
  top: 4360.5px;
  left: 832px;
  width: 769px;
  height: 390.5px;
  object-fit: cover;
}
.child28 {
  position: absolute;
  top: 5309px;
  left: 864px;
  border-radius: 100px;
  background-color: #fff;
  width: 268px;
  height: 60px;
}
.b16 {
  position: absolute;
  top: 83.81%;
  left: 58.38%;
  color: #333;
}
.child29 {
  position: absolute;
  height: 0.2%;
  width: 0.5%;
  top: 83.9%;
  right: 30.5%;
  bottom: 15.89%;
  left: 69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.visual-contact-icon {
  position: absolute;
  height: 55.59%;
  width: 50%;
  top: 0%;
  right: 0%;
  bottom: 44.41%;
  left: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-8-child {
  position: absolute;
  height: 55.59%;
  width: 50%;
  top: 0%;
  right: 0%;
  bottom: 44.41%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.35);
}
.mask-group-icon14 {
  position: absolute;
  height: 55.59%;
  width: 50%;
  top: 0%;
  right: 50%;
  bottom: 44.41%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-8-item {
  position: absolute;
  height: 55.59%;
  width: 50%;
  top: 0%;
  right: 50%;
  bottom: 44.41%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.35);
}
.component-8-inner {
  position: absolute;
  height: 7.9%;
  width: 19.13%;
  top: 39.1%;
  right: 66.31%;
  bottom: 53%;
  left: 14.56%;
  border-radius: 100px;
  background-color: #261f88;
}
.component-8-child1 {
  position: absolute;
  height: 7.9%;
  width: 19.13%;
  top: 39.1%;
  right: 16.13%;
  bottom: 53%;
  left: 64.75%;
  border-radius: 100px;
  background-color: #261f88;
}
.image-2-icon {
  position: absolute;
  height: 7.49%;
  width: 23.69%;
  top: 61.99%;
  right: 64.13%;
  bottom: 30.52%;
  left: 12.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div33 {
  position: absolute;
  top: 66.89%;
  left: 78.56%;
  font-weight: 600;
  color: #261f88;
}
.div34 {
  position: absolute;
  top: 62.13%;
  left: 53.94%;
  font-weight: 600;
  color: #261f88;
}
.div35 {
  position: absolute;
  top: 62.13%;
  left: 78.56%;
  font-weight: 600;
  color: #261f88;
}
.div36 {
  position: absolute;
  top: 62.13%;
  left: 66.25%;
  font-weight: 600;
  color: #261f88;
}
.div37 {
  position: absolute;
  top: 62.13%;
  left: 41.63%;
  font-weight: 600;
  color: #261f88;
}
.div38 {
  position: absolute;
  top: 71.66%;
  left: 12.56%;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.global-privacy-policy {
  position: absolute;
  top: 75.34%;
  left: 12.56%;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.div39 {
  position: absolute;
  top: 75.34%;
  left: 22.31%;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.div40 {
  position: absolute;
  top: 71.66%;
  left: 18.81%;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.div41 {
  position: absolute;
  top: 66.35%;
  left: 41.63%;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #333;
}
.div42 {
  position: absolute;
  top: 66.35%;
  left: 53.94%;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #333;
}
.div43 {
  position: absolute;
  top: 66.35%;
  left: 66.25%;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #333;
}
.vector-icon7 {
  position: absolute;
  height: 2.04%;
  width: 0.94%;
  top: 67.44%;
  right: 13.31%;
  bottom: 30.52%;
  left: 85.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div44 {
  position: absolute;
  top: 19.48%;
  left: 20%;
  font-size: 20px;
  font-weight: 600;
}
.div45 {
  position: absolute;
  top: 19.48%;
  left: 71.25%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.download1 {
  position: absolute;
  top: 9.95%;
  left: 14.38%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
  text-align: center;
}
.contact {
  position: absolute;
  top: 9.95%;
  left: 66.19%;
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
  text-align: center;
}
.div46 {
  position: absolute;
  top: 41.28%;
  left: 19.5%;
  font-weight: 600;
}
.div47 {
  position: absolute;
  top: 41.28%;
  left: 69.88%;
  font-weight: 600;
}
.b17 {
  position: absolute;
  width: 30.31%;
  top: 26.7%;
  left: 9.81%;
  line-height: 30px;
  display: inline-block;
}
.b18 {
  position: absolute;
  width: 30.31%;
  top: 26.7%;
  left: 59.88%;
  line-height: 30px;
  display: inline-block;
}
.file-download-icon-2 {
  position: absolute;
  height: 3%;
  width: 1.06%;
  top: 41.42%;
  right: 81.94%;
  bottom: 55.59%;
  left: 17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mail-icon-2 {
  position: absolute;
  height: 2.18%;
  width: 1.25%;
  top: 41.83%;
  right: 31.56%;
  bottom: 55.99%;
  left: 67.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-8-child2 {
  position: absolute;
  height: 3.95%;
  width: 100%;
  top: 96.05%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #000;
}
.sumitomo-electric-tool {
  position: absolute;
  top: 96.59%;
  left: 43.81%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.component-8-child3 {
  position: absolute;
  height: 5.38%;
  width: 3.31%;
  top: 88.15%;
  right: 1.38%;
  bottom: 6.47%;
  left: 95.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-8-child4 {
  position: absolute;
  height: 1.51%;
  width: 1.13%;
  top: 90.05%;
  right: 2.44%;
  bottom: 8.43%;
  left: 96.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.component-8 {
  position: absolute;
  top: 5622px;
  left: 1px;
  width: 1600px;
  height: 734px;
}
.strength {
  position: absolute;
  top: 50.27%;
  left: calc(50% - 161px);
  font-size: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Roboto;
  color: #333;
  text-align: center;
}
.div48 {
  position: absolute;
  top: 51.37%;
  left: 46.25%;
  font-size: 20px;
  font-weight: 500;
  color: #261f88;
  text-align: center;
}
.div49 {
  position: absolute;
  top: 52.34%;
  left: 29.63%;
  font-size: 28px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #261f88;
  text-align: center;
}
.div50 {
  position: absolute;
  width: 75%;
  top: 53.21%;
  left: 12.44%;
  line-height: 32px;
  font-weight: 500;
  color: #333;
  text-align: center;
  display: inline-block;
}
.div51 {
  position: absolute;
  top: 55.68%;
  left: 46.94%;
  font-weight: 600;
  text-align: center;
}
.div {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 6356px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Noto Sans JP";
}
